---
import ScoreBorad from "@/components";
import Layout from "../layouts/Layout.astro";
import { ModeToggle } from "@/components/ModeToggle";

export interface ScoreData {
  teamname: string;
  score: number;
}

export interface AppScriptResponse {
  offstage: ScoreData[];
  onstage: ScoreData[];
}

let data: AppScriptResponse | null = null;

try {
  const response = await fetch(
    "https://script.google.com/macros/s/AKfycbzd-yz30Rx37wCbbq9IyGgzBghdO09yCkyLPp6CIF23NwpSfoqMUdX14dgJ-lOwcsle/exec"
  );

  data = (await response.json()) as AppScriptResponse;
} catch (error) {
  console.log("fetch failed");
  console.log(error);
}
---

<Layout>
  <div class="min-h-screen flex flex-col">
    <div class="flex h-[50px] border border-b items-center justify-center">
      <div class="container flex justify-end px-4">
        <ModeToggle client:load />
      </div>
    </div>
    <ScoreBorad data={data} />
    <div class="border border-t py-5">
      <p class="text-center text-muted-foreground">
        Developed by <a
          href="https://kethankrk.vercel.app/"
          target="_blank"
          class="text-blue-500 underline cursor-pointer font-medium"
          >Kethan Krishna PK</a
        >
      </p>
    </div>
  </div>
</Layout>
